
<div class="fondo">
    <div class="header">
        <div class="header_interno">
            <div class="logo2"></div>
            <span class="CAT">COMISION ACADEMICA DE TITULACIÓN</span>
            <span class="UAS">UNIVERSIDAD AUTONOMA DE SINALOA</span>
            <div class="logo1"></div>
        </div>
        <nav id="opciones">
            <a routerLink="/principal">Inicio </a>
            <a routerLink="/agregar_tesis">Solicitar tema de tesis </a>
            <a href="/registro_tesis">Solicitudes de tema </a>
            <a href="/solicitud_presentacion">Solicitudes de presentacion </a>
            <a href="/peticion_presentacion">Solicitar presentacion </a>
        </nav>
    </div>
    <div class="formatos">
        
    </div>

</div>