<div class="v33_2">
    <div class="v33_3"></div><span class="v33_4">COMISION ACADEMICA DE TITULACIÓN</span><span class="v33_5">UNIVESIDAD
        AUTNOMA DE SINALOA</span>
   
    <div class="v33_198"></div><span class="v61_68">Clasificar</span><span class="v43_1309">Tabla de
        Tesis</span><span class="v43_1308">Categorias</span><span class="v43_1307">Agregar Tesis</span><span
        class="v43_1306">Inicio</span>
    <div class="v39_1210"></div><span class="v33_200">FILTRAR: </span>
    <div class="v33_201">
        <input type="text" id="filtro">
    </div>
    <div class="v40_1217"></div><span class="v41_1241">Tabla de Tesis</span>

    <table class="Tabla">

        <tr>
      
          <th scope="row">Día</th>
      
          <th>Hoy</th>
      
          <th>Mañana</th>
      
          <th>Sábado</th>
      
        </tr>
      
        <tr>
      
          <th>Condición</th>
      
          <td>Soleado</td>
      
          <td>Mayormente soleado</td>
      
          <td>Parcialmente nublado</td>
      
        </tr>
      
        <tr>
      
          <th>Temperatura</th>
      
          <td>19°C</td>
      
          <td>17°C</td>
      
          <td>12°C</td>
      
        </tr>
      
        <tr>
      
          <th>Vientos</th>
      
          <td>E 13 km/h</td>
      
          <td>E 11 km/h</td>
      
          <td>S 16 km/h</td>
      
        </tr>
      
      </table>
</div>

